button{
    width: 7rem;
    height: 3rem;
    margin: 1rem;
}
    .btn1{
       background-color: #0e3cff;
   } 
   .btn2{
       background-color: #ff8700;
       }
   .btn3{
       background-color: #4caf50;
       }
