nav{
    img{
        width: 15%;
    }
    a{
        font-size: 1.5rem;
    }
}
#hero{
    h1{
        font-size: 4.5rem;
    }
    p{
        font-size:1.5rem;
        width: 50%;
    }
    button{
        font-size: 1rem;
        font-weight: bold;
        border-radius: 10px;
    }
}